<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration><!--Root node of web.config-->

    <system.web>  <!--All ASP>NET related config in system.web: a "configuration section group"-->


      <!--below r "configuration sections" inside ea gp-->
      <pages />
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      
      
      
    </system.web>

</configuration>
